// Body
$body-bg: #333333;
$text-color: white;

// Typography
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
$font-family: 'Poppins', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
$second-font-family: 'Lato', sans-serif;

// Colors
$primary-light: #ffffff;
$primary-soft: #f0f0f0;
$primary-semi-light: #ECECEC;
$primary: #CFCFCF;
$primary-semi-dark: #707070;
$primary-dark: #373737;
$darkest: #000000;
$fancy: #4FD4B4;

$title-decoration: #ffb510;
$title-decoration-light: #e9d856;
//containers width

$sm-width-container: 90%;
$md-width-container: 90%;
$lg-width-container: 60rem;
$xl-width-container: 75rem;


//Responsive
$w-2sm: 450px;
$w-sm: 640px;

//tablet
$w-md: 768px;
$w-lg: 1024px;

//pc
$w-xl: 1280px;
$w-2xl: 1536px;
$w-3xl: 1920px;
$w-4xl: 2750px;

//tv
$w-4k: 3840px;


